<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Search</title>
	<link ref="stylesheet" href="{{ url_for('static',filename='user.css') }}"/>
</head>
<body>
  <div class="bg-container">
	<form action = "{{ url_for('search_data') }}" method = 'post'>
		<label for="column">Select column to search</label>
		<select id="column" name="column">
			<option value="Name">Name</option>
			<option value="Age">Age</option>
			<option value="Gender">Gender</option>
			<option value="email">email</option>
		</select>
		</br>
		<label for="searchValue">Enter text to search</label>
		<input type="text" id="searchValue" name="searchValue"/>
	</form>
	<div id="resultContainer">

	</div>
  </div>
</body>
</html>